body {
	margin: 0;
	padding: 0;
	background-color: #33689D;
	width: 100%;
	font-family: Times New Roman, serif;
	font-size: 12pt;
}
#header {
	color: white;
	height: 250px;
	background-image: url(../images/bg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-o-background-size: cover !important;
	-moz-background-size: cover !important;
	padding: 0px;
	text-align: center;
	position: relative;
}
#logo{
	width: 120px;
	border: none;
	position: absolute;
	left: 60px; bottom: 60px;
}
#name{
	width: 400px;
	margin: 30px auto 0;
}
#nav {
	display: block;
	width: 100%;
	position: fixed;
	left: 0px; top: 200px;
	background: rgba(83, 93, 103, 0.7);
	z-index: 1000000;
}
#nav ul {
	margin: 0px auto;
	padding: 0;
}
#nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}
#nav ul li a {
	padding: 1em 1.5em;
	margin: 0;
	display: block;
	color: white;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 8px;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
	font-weight: bold;
}
#nav ul li a:hover { /* ссылка при наведении */
	background: rgba(26, 188, 156, 0.7) /* #1ABC9C */;
	color: white;
	border-color: #535D67;
}
#nav ul li a:active { /* ссылка при нажатии */
	background: #535D67;
	color: #1ABC9C;
	border-color: #1ABC9C;
}
#container {
	width: 100%;
	margin: 10px auto 50px; /* Выравнивание по центру */
	padding:0;
}
#left, #right {
	width: 100px;
	padding: 5px; /* Отступы вокруг текста */
	text-align:center;
}
#left {
	float: left; /* Обтекание по правому краю */
}
#right {
	float: right; /* Обтекание по правому краю */
}
#content {
	margin: 10px 120px; /* Отступ на ширину левой и правой колонки*/
	padding: 10px; /* Поля вокруг текста */
	/*background: rgba(255, 255, 255, 0.8); /* white */
	background: #E6E6FA;
	border-radius: 10px;
}
#content p{
	height: 800px;
	background-image: url(../images/molbert_man.png);
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-attachment: ;
	background-size: contain;
	text-align: center;
}
#footer {
	position: fixed; /* Фиксированное положение */
	left: 0; bottom: 0; /* Левый нижний угол */
	margin:0;
	padding:10px 0;
	background-color: #33689D;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: /*#535D67*/white;
	color: white;
	width: 100%;
	text-align: center;
	font-family: monospace;
	vertical-align: middle;
}
#footer a img {
	text-decoration: none;
	border: none;
	height: 20px;
	margin: 0 3px;
	vertical-align: middle;
}
#footer span {
	font-size: small;
	font-family: Times New Roman, serif;
	vertical-align: middle;
}
